body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}


#randomImage {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

img {
    display: block;
    margin: 0 auto;
}
